<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="GooglePlacesUrl" value="Data Source=193.198.57.183; Initial Catalog=DotNet;User ID = vjezbe; Password = vjezbe"></add>
    <add key="GooglePlacesAPI" value="https://maps.googleapis.com/maps/api/place/nearbysearch/json"></add>
  </appSettings>
</configuration>